<%- include('./partials/head') %>
<%- include('./partials/navigatie', {current: '/lessons'}); %>
<main class="lessonsPage">
    <section>
        <h1>Lessons</h1>

        <ul class="phases">
            <li id="listening"><p>1.</p><p>Listening</p> <%- include('./partials/listeningSVG') %> </li>
            <li id="locked"><p>2.</p><p>Locked</p> <%- include('./partials/lockedSVG') %> </li>
        </ul>
    </section>

    <!-- OWN PLAYLIST -->

    <section>
        <h2>Own playlist</h2>
        <ul class="ownPlaylist">
                <a href="/add-a-playlist">
                    <li class="makeAPlaylistBtn"> <%- include('./partials/plusSVG') %>
                        <p>Make a playlist!</p>
                        <p>Add your favourite stories in one playlist</p>
                    </li>
                </a>

            <% playlist.forEach(playlist => { %>
                <a href="#">
                    <li>
                        <% if (playlist.image) { %>
                            <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>" alt="playlist">       
                        <% } %>             
                        <p><%=playlist.title%></p>
                        <a href="#" class="playPlaylist" type="button"> <%- include('./partials/playbuttonSVG') %>
                        <p>31 min. 55sec</p>
                    </li>
                </a>
            <% }) %>
        </ul>
    </section>

    <!-- ALL STORIES -->

    <section>
        <h3>All stories</h3>
        <article id="languageSelect">
            <% language.forEach(language => { %>
                <button id="languageButton" type="button">  
                    <% if (language.flag) { %>
                    <img src="https://fdnd-agency.directus.app/assets/<%= language.flag %>" alt="flag"> <% } %><p><%- language.language %></p></button>
 
                    <% }) %> 
        </article>
            <a href="/stories">Show all</a>

        <ul class="stories">
            <% stories.forEach(story => { %>
                <li>
                <% if (story.image) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= story.image %>"alt="story">
                <% } %>
                    <div class="storyInfo">
                        <p><strong><%= story.title %></strong></p>
                        <p><%= story.summary %></p>
            
                        <a href="#" class="playStory"> <%- include('./partials/playbutton2SVG') %>
                        <p>3 min. 5sec</p></a>  
                    </div>

                    <img id="storyFlag" src="/images/menu buttons/english.flag.svg" alt="flag">
                    <button class="downloadStory"> <%- include('./partials/downloadSVG') %> </button>
                    <button class="addToPlaylist"> <%- include('./partials/addSVG') %> </button>
                </li>
            <% }) %>
        </ul>
        <div class="pages">
            <button id="previous"><</button>
            <button id="next">></button>
        </div>  
    </section>

    <!-- LIKED PLAYLISTS -->

    <section>
        <article class="likedPlaylists">
            <h4>Liked playlists</h4>
            <a href="#">
                <ul class="playlist">
                    <% playlist.forEach(playlist => { %>
                        <li>
                            <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>" alt="playlist">                    
                            <p><%=playlist.title%></p>
                            <a href="#" class="playPlaylist" type="button"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#F3A22A"/><rect width="16.8" height="16.8" transform="translate(3.59961 3.6001)" fill="#F3A22A"/><path d="M17.0874 13.0614C17.7817 12.5242 17.7817 11.476 17.0874 10.9387C14.9891 9.31514 12.6461 8.03543 10.146 7.14749L9.68929 6.98528C8.8155 6.67494 7.89254 7.26613 7.77425 8.16812C7.44374 10.6883 7.44374 13.3119 7.77425 15.832C7.89254 16.734 8.8155 17.3252 9.68929 17.0148L10.146 16.8526C12.6461 15.9647 14.9891 14.685 17.0874 13.0614Z" fill="white"/></svg></a>
                            <p>31 min. 55sec</p>
                            <%- include('./partials/redheartSVG') %>
                        </li>
                    <% }) %>
                </ul>
            </a>
        </article>
    </section>

    <!-- SUGGESTED PLAYLISTS -->

    <section>
        <h5>Suggested playlists</h5>
        <a href="#">
            <ul class="playlist">
                <% playlist.forEach(playlist => { %>
                    <li>
                        <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>" alt="playlist">                    
                        <p><%=playlist.title%></p>
                        <a href="#" class="playPlaylist" type="button"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#F3A22A"/><rect width="16.8" height="16.8" transform="translate(3.59961 3.6001)" fill="#F3A22A"/><path d="M17.0874 13.0614C17.7817 12.5242 17.7817 11.476 17.0874 10.9387C14.9891 9.31514 12.6461 8.03543 10.146 7.14749L9.68929 6.98528C8.8155 6.67494 7.89254 7.26613 7.77425 8.16812C7.44374 10.6883 7.44374 13.3119 7.77425 15.832C7.89254 16.734 8.8155 17.3252 9.68929 17.0148L10.146 16.8526C12.6461 15.9647 14.9891 14.685 17.0874 13.0614Z" fill="white"/></svg></a>
                        <p>31 min. 55sec</p>
                        <%- include('./partials/heartSVG') %>
                    </li>
                <% }) %>
            </ul>
        </a>
    </section>

</main>
<%- include('./partials/foot') %>
